footer{
    background: linear-gradient(90deg, rgba(105,9,121,1) 35%, rgba(255,0,211,1) 100%);
   /*  background: var(--color-primary); */
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-white);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__Social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__Social a{
    background-color: var(--color-bg);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}


.footer__Social a:hover{
    background-color: transparent;  
    border-color: var(--color-white);
}

.footer__copyright{
    margin-bottom: 4rem;
    color: var(--color-white);
}

/* ############## MEDIA QUERIES (small devices)############### */

@media screen and (max-width: 600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__Social{
        margin-bottom: 2.6rem;
    }
}